.featured-products {
	h2.title {
		margin-bottom: 0.5rem;
	}

	.subtitle {
		margin-block: 0 2rem;
	}

	.products {
		display: grid;
		gap: 1rem;
		grid-template-columns: repeat(2, minmax(0, 1fr));
		margin-top: 2rem;

		@include medium {
			grid-template-columns: repeat(3, minmax(0, 1fr));
		}

		@include large {
			grid-template-columns: repeat(6, minmax(0, 1fr));
		}
	}
}
