.woocommerce {
	.woocommerce-customer-details {
		.woocommerce-customer-details--phone,
		.woocommerce-customer-details--email {
			margin: 0;

			&::before {
				font-family: $icons;
			}
		}

		.woocommerce-customer-details--email {
			&::before {
				content: "\f0e0";
			}
		}

		.woocommerce-customer-details--phone {
			&::before {
				content: "\f095";
			}
		}
	}

	form {
		.form-row {
			margin-bottom: 1rem;

			textarea {
				height: unset;

				&::placeholder {
					color: rgba($color-black, 0.8);
					font-family: $font-family-body;
					line-height: 1.5;
				}
			}
		}
	}

	a.button,
	button.button,
	.woocommerce-button {
		@extend .button;
		font-weight: 400;
		padding: 1rem 1.5rem;

		&:hover {
			text-decoration: underline;
		}

		&.alt {
			background-color: $color-secondary;

			&:hover {
				background-color: $color-secondary;
			}
		}
	}

	a.remove {
		color: $color-secondary !important;
		transition: background-color $transition;

		&:hover {
			background: rgba($color-secondary, 0.2);
			color: $color-secondary !important;
		}
	}
}

.woocommerce-page {
	.woocommerce-info {
		align-items: center;
		background-color: white;
		border-top-color: $color-primary;
		box-shadow: $boxshadow;
		display: flex;
		flex-direction: row;
		font-family: $font-family-body;
		justify-content: space-between;

		&::before {
			color: $color-primary;
			top: 50%;
			transform: translateY(-50%);
		}

		&::after {
			content: unset;
		}

		.button {
			@extend .button;

			background-color: $color-secondary;
			color: $color-white;

			&:hover {
				background-color: $color-secondary;
				color: $color-white;
				text-decoration: underline;
			}
		}
	}

	.woocommerce-notices-wrapper {
		margin: 2rem auto;
		max-width: 800px;
		padding-inline: $padding-inline;

		.woocommerce-message {
			align-items: center;
			background-color: white;
			border-top-color: $color-primary;
			box-shadow: $boxshadow;
			display: flex;
			flex-direction: row-reverse;
			font-family: $font-family-body;
			justify-content: space-between;

			&::before {
				color: $color-primary;
				top: 50%;
				transform: translateY(-50%);
			}

			&::after {
				content: unset;
			}

			.button {
				@extend .button;

				background-color: $color-secondary;
				color: $color-white;

				&:hover {
					background-color: $color-secondary;
					text-decoration: underline;
				}
			}
		}
	}

	.components-button {
		@extend .button;
	}
}
