.woocommerce {
	.products-overview {
		.products-grid {
			.products {
				.product {
					clear: unset;
					float: unset;
					margin: 0;
					width: auto;

					.attachment-woocommerce_thumbnail {
						aspect-ratio: 1/1;
						border-radius: $border-radius;
						object-fit: cover;
						object-position: center;
					}

					.woocommerce-loop-product__title {
						overflow: hidden;
						text-overflow: ellipsis;
						white-space: nowrap;
					}
				}
			}
		}
	}
}
