.product {
	margin-block: $spacing-block;
	padding-inline: $padding-inline;

	section {
		padding-inline: 0;
	}

	.product-content {
		display: flex;
		flex-direction: column;
		gap: 2rem;

		@include medium {
			flex-direction: row;
		}

		.images-wrapper{
			display: flex;
			flex-direction: column;
			gap: 1rem;

			@include medium {
				max-width: calc(100% * 0.4);
				min-width: calc(100% * 0.4);
			}

			.image-wrapper {
				img {
					aspect-ratio: 1 / 1;
					border-radius: $border-radius;
					object-fit: contain;
					object-position: center;
					width: 100%;
				}
			}

			.gallery {
				display: grid;
				gap: 1rem;
				grid-template-columns: repeat(3, minmax(0, 1fr));

				.gallery-image {
					img {
						aspect-ratio: 1/1;
						border-radius: $border-radius;
						object-fit: cover;
						object-position: center;
						width: 100%;
					}
				}
			}
		}

		.product-information {
			display: flex;
			flex-direction: column;

			.out-of-stock {
				background-color: $color-error-bg;
				border: 1px solid $color-error-border;
				border-radius: $border-radius;
				color: $color-error;
				display: inline-block;
				font-family: $font-family-heading;
				font-size: $font-size-medium;
				font-weight: 500;
				line-height: 1;
				padding: 1rem;
				width: fit-content;
			}

			.in-cart-notice {
				background-color: rgba($color-primary, 0.1);
				border: 1px solid $color-primary;
				border-radius: $border-radius;
				color: $color-primary;
				font-family: $font-family-body;
				padding: 1rem;
				text-align: center;
			}

			.categories {
				display: flex;
				flex-wrap: wrap;
				gap: 0.5rem;
				margin-top: 1rem;

				.category-tag {
					background-color: $color-primary;
				}
			}

			.price {
				color: $color-primary;
				font-family: $font-family-heading;
				font-weight: 700;

				span {
					font-size: $font-size-x-large;
				}
			}

			.buttons-wrapper {
				display: flex;
				gap: 0.5rem;
				flex-direction: column;

				@include medium {
					flex-direction: row;
				}
			}

			.add-to-cart,
			.view-cart {
				background-color: $color-secondary;
				border: 1px solid $color-secondary;
				border-radius: $border-radius;
				color: $color-white;
				font-family: $font-family-body;
				padding: 1rem 1.5rem;
				width: fit-content;
			}

			.add-to-cart {
				&::before {
					font-family: $icons;
					content: '\f217';
					margin-right: 0.5rem;
				}
			}

			.add-to-wishlist {
				&::before {
					font-family: $icons;
					content: '\e500';
					margin-right: 0.5rem;
				}

				&:hover {
					text-decoration: none;

					&::before {
						font-weight: 700;
					}
				}
			}

			.remove-from-wishlist {
				&::before {
					font-family: $icons;
					content: '\e4ff';
					margin-right: 0.5rem;
				}

				&:hover {
					text-decoration: none;

					&::before {
						font-weight: 700;
					}
				}
			}

			.view-cart {
				&::before {
					font-family: $icons;
					content: '\f07a';
					margin-right: 0.5rem;
				}
			}
		}
	}

	.product-videos {
		margin-block: $spacing-block;

		.videos-wrapper {
			display: grid;
			gap: 1rem;
			grid-template-columns: repeat(1, minmax(0, 1fr));

			@include medium {
				grid-template-columns: repeat(2, minmax(0, 1fr));
			}

			.product-video {
				aspect-ratio: 16 / 9 !important;
				width: 100%;

				iframe {
					height: 100%;
					width: 100%;
				}

				.video-note {
					border-left: 3px solid $color-secondary;
					color: $color-black;
					font-family: $font-family-body;
					font-style: italic;
					margin-top: 0.5rem;
					padding: 0 1rem;
				}
			}
		};
	}

	.product-spotify {
		margin-block: $spacing-block;
	}

	.related-products {
		margin-block: $spacing-block;
	}
}
