.woocommerce-myaccount-navigation {
	ul {
		display: flex;
    flex-direction: column;
		list-style: none;
		margin: 0;
		padding: 0;

		.myaccount-navigation-link {
			&.is-active {
				a {
					background-color: $color-secondary;
					color: $color-white;
				}
			}

			&:not(.is-active) {
				&:hover {
					a {
						background-color: rgba($color-primary, 0.1);
					}
				}
			}

			&.woocommerce-MyAccount-navigation-link--dashboard {
				a::before {
					content: '\f015';
				}
			}

			&.woocommerce-MyAccount-navigation-link--orders {
				a::before {
					content: '\f218';
				}
			}

			&.woocommerce-MyAccount-navigation-link--edit-address {
				a::before {
					content: '\f2bb';
				}
			}

			&.woocommerce-MyAccount-navigation-link--payment-methods {
				a::before {
					content: '\f09d';
				}
			}

			&.woocommerce-MyAccount-navigation-link--edit-account {
				a::before {
					content: '\f007';
				}
			}

			&.woocommerce-MyAccount-navigation-link--customer-logout {
				a::before {
					content: '\f08b';
				}
			}

			a {
				border-bottom: 1px solid $color-primary;
				color: $color-link;
				display: block;
				text-decoration: none;
				transition: background-color $transition;
				padding: 0.75rem 1.25rem;

				&:hover {
					text-decoration: underline;
				}

				&::before {
					display: inline-block;
					font-family: $icons;
					margin-right: 0.5rem;
					width: 1.5rem;
				}
			}
		}
	}
}
