.woocommerce-myaccount-navigation {
	ul {
		display: flex;
    flex-direction: column;
		list-style: none;
		margin: 0;
		padding: 0;

		.myaccount-navigation-link {
			&.is-active {
				a {
					background-color: $color-secondary;
					color: $color-white;
				}
			}

			&:not(.is-active) {
				&:hover {
					a {
						background-color: rgba($color-primary, 0.1);
					}
				}
			}

			a {
				border-bottom: 1px solid $color-primary;
				color: $color-link;
				display: block;
				text-decoration: none;
				transition: background-color $transition;
				padding: 0.75rem 1.25rem;

				&:hover {
					text-decoration: underline;
				}
			}
		}
	}
}
