.text-column {
	&.no-background {
		margin-block: $spacing-block;
	}

	&.has-background {
		&.secondary {
			background-color: $color-secondary;
		}

		h1,
		h2,
		h3,
		p,
		a,
		ol,
		ul {
			color: $color-white;
		}
	}
}
