.faqs {
	.faqs-wrapper {
		display: flex;
		flex-direction: column;

		.faq {
			border-bottom: 1px solid $color-primary;
			padding-block: 2rem;

			&[open] {
				.faq-question {
					&::before {
						transform: rotate(90deg);
					}
				}
			}

			.faq-question {
				align-items: flex-start;
				color: $color-black;
				display: flex;
				font-family: $font-family-heading;
				font-size: $font-size-large;
				font-weight: 600;
				gap: 1rem;
				list-style-type: none;
				padding-left: 1.5rem;
				position: relative;

				&::-webkit-details-marker {
					display: none;
				}

				&:hover {
					cursor: pointer;
					text-decoration: underline;
				}

				&::before {
					content: '\f054';
					font-family: $icons;
					font-size: $font-size-body;
					margin-top: 0.25rem;
					transition: transform $transition;
					left: 0;
					position: absolute;
				}
			}
		}
	}
}
