a {
	color: $color-link;
	text-decoration: none;

	&:hover {
		text-decoration: underline;
	}
}

.button {
	background-color: $color-secondary;
	border: 1px solid $color-secondary;
	border-radius: $border-radius;
	color: $color-white;
	font-family: $font-family-body;
	padding: 1rem 1.5rem;
	width: fit-content;

	&.button-primary {
		background-color: $color-secondary !important;
		border: 1px solid $color-secondary !important;
		color: $color-white !important;
	}
}

.gtin {
	color: $color-primary;
	font-size: $font-size-body-small;
}

.breadcrumbs-wrapper {
	padding-inline: $padding-inline;

	.breadcrumbs {
		align-items: center;
		display: flex;
		flex-wrap: wrap;
		gap: 0.5rem;
		margin-block: 1rem;

		span {
			font-family: $font-family-body;
			font-size: $font-size-body-small;

			span {
				line-height: 2;
			}
		}
	}
}

.info-notice {
	background-color: rgba($color-secondary, 0.1);
	border-left: 5px solid $color-secondary;
	color: $color-black;
	font-family: $font-family-body;
	font-size: $font-size-body-small;
	margin-top: 0;
	padding: 1rem;

	a {
		font-size: $font-size-body-small;
	}
}

.date-meta {
	color: $color-primary;
	font-size: $font-size-body-small;

	a {
		font-size: $font-size-body-small;
		text-decoration: underline;
	}
}

.category-tag {
	background: $color-secondary;
	border-radius: $border-radius;
	color: $color-white;
	display: inline-block;
	font-family: $font-family-heading;
	font-size: $font-size-body-small;
	padding: 0.5rem 0.75rem;
}

input,
textarea,
.form-input {
	background-color: white;
	border: 1px solid rgba($color-black, 0.2);
	border-radius: $border-radius;
	line-height: 1.5;
	padding: 0.75rem 1.15rem;

	&::placeholder {
		color: rgba($color-black, 0.8);
		font-family: $font-family-body;
		line-height: 1.5;
	}

	&:focus {
		border: 1px solid $color-secondary;
		outline: none;
	}
}

input[type="submit"],
.button {
	background-color: transparent;
	border-color: $color-primary;
	color: $color-primary;

	&:hover {
		background-color: rgba($color-primary, 0.1);
	}
}

.pretitle {
	color: $color-primary;
	font-size: $font-size-body-small;
	font-weight: 700;
	letter-spacing: 0.5px;
	text-align: center;
	text-transform: uppercase;
}
