.facetwp-facet {
	.facetwp-depth {
		flex-direction: inherit;
		margin-left: 1.5rem;
	}

	.facetwp-pager {
		display: flex;
		gap: 0.25rem;

		.facetwp-page {
			align-items: center;
			border: 1px solid $color-secondary;
			display: flex;
			height: 2.5rem;
			justify-content: center;
			transition: background-color $transition;
			padding: 1rem;
			width: 2.5rem;

			&:hover {
				background-color: rgba($color-secondary, 0.1);
			}

			&.dots {
				&:hover {
					background-color: transparent;
					text-decoration: none;
				}
			}

			&.active {
				background-color: $color-secondary;
				color: $color-white;
			}
		}
	}

	&.facetwp-type-search {
		.facetwp-input-wrap {
			.facetwp-search {
				width: 100%;
			}

			.facetwp-icon {
				bottom: 0;
				height: unset;
				line-height: unset;
				position: absolute;
				right: 0;
				top: 50%;
				transform: translateY(-50%);

				&::before {
					background: unset;
					content: "\f002";
					font-family: $icons;
					font-style: normal;
				}
			}
		}
	}

	.facetwp-checkbox {
		background: unset;
		margin-bottom: 0.75rem;
		padding-left: unset;
		position: relative;

		&::before {
			content: "\f0c8";
			font-family: $icons;
			inset: 0 auto 0 0;
			position: absolute;
		}

		&.checked {
			background: unset;

			&::before {
				content: "\f14a";
			}
		}

		.facetwp-display-value,
		.facetwp-counter {
			font-family: $font-family-body;
			line-height: 1;
		}

		.facetwp-display-value {
			font-size: 1rem;
			padding-left: 1.5rem;
		}

		.facetwp-counter {
			color: $color-primary;
		}

		.facetwp-toggle {
			position: relative;

			&::before {
				font-family: $icons;
				font-size: 0.875rem;
				position: absolute;
				right: 0;
			}

			&.expand {
				&::before {
					content: "\2b";
				}
			}

			&.collapse {
				&::before {
					content: "\f068";
				}
			}
		}
	}
}
