#site-footer {
	.footer-columns {
		background: $color-primary;
		padding-inline: $padding-inline;

		.widget-title,
		p,
		a {
			color: $color-white;
			line-height: 1.5;
		}

		.footer-columns-container {
			display: grid;
			gap: 1rem;
			grid-template-columns: 1fr;
			padding-block: 64px;

			@include medium {
				grid-template-columns: repeat(2, 1fr);
			}

			@include large {
				grid-template-columns: repeat(4, 1fr);
			}

			.footer-column {
				.widget-title {
					display: block;
					font-family: $font-family-heading;
					font-size: $font-size-body;
					font-weight: 700;
					margin-bottom: 1rem;
				}

				.textwidget {
					p {
						margin: 0;
					}
				}
			}
		}
	}

	.copyright-wrapper {
		padding-inline: $padding-inline;

		.copyright {
			padding-block: 1rem;

			p {
				color: $color-black;
				margin: 0;
			}

			a {
				text-decoration: underline;

				&:hover {
					text-decoration-style: dashed;
				}
			}
		}
	}
}
