.top-bar {
	background-color: $color-white;
	padding-inline: $padding-inline;
	position: sticky;
	top: 0;
	z-index: $z-index-high;

	.top-bar-content {
		padding-block: 10px;

		p,
		a {
			font-size: $font-size-body-small;
			font-weight: 700;
			margin: 0;
		}
	}
}

.site-header-wrapper {
	background-color: $color-primary;
	color: $color-white;
	padding-inline: $padding-inline;
	position: sticky;
	top: 43.8px;
	width: 100%;
	z-index: $z-index-high;

	.site-header {
		padding-block: 1rem;

		.header-wrapper {
			align-items: center;
			display: flex;
			justify-content: space-between;
		}

		.navigation-menu-wrapper {
			align-items: center;
			display: flex;
			gap: 1.5rem;
		}

		#menu-toggle {
			background: unset;
			border: 0;
			color: $color-white;
			display: flex;
			align-items: center;
			padding: 0;

			@include large {
				display: none;
			}

			.open-icon,
			.close-icon {
				font-size: 1.25rem;
			}

			.close-icon {
				display: none;
			}

			&.toggle-open {
				.close-icon {
					display: flex;
				}

				.open-icon {
					display: none;
				}
			}
		}

		.woocommerce-icons {
			align-items: center;
			display: flex;
			gap: 1rem;

			a {
				i {
					color: $color-white;
				}
			}
		}

		#primary-menu {
			align-items: center;
			display: none;
			gap: 1.5rem;

			@include large {
				display: flex;
			}

			.menu {
				align-items: center;
				display: flex;
				gap: 1.5rem;
				list-style: none;
				margin: 0;
				padding: 0;

				.menu-item {
					a {
						color: $color-white;
					}
				}
			}
		}

		.site-branding {
			#logo {
				color: $color-white;
				font-family: $font-family-heading;
				font-size: $font-size-large;
				font-weight: 700;

				@include medium {
					font-size: $font-size-x-large;
				}

				&:hover {
					text-decoration: none;
				}
			}
		}
	}
}

body {
	&.offcanvas-open {
		overflow: hidden;
	}
}

.offcanvas {
	background-color: $color-primary;
	display: block;
	height: calc(100% - 103px);
	left: 0;
	overflow: scroll;
	padding: 2rem $padding-inline;
	pointer-events: none;
	position: fixed;
	top: 103px;
	transform: translateX(100%);
	transition: transform $transition;
	width: 100%;
	z-index: $z-index-high;

	@include medium {
		height: calc(100% - 108px);
		top: 108px;
	}

	&#offcanvas-main {
		z-index: calc($z-index-high + 1);
	}

	&.opened {
		pointer-events: all;
		transform: translateX(0);

		@include large {
			transform: translateX(100%);
		}
	}

	.inner {
		background-color: $color-white;
		border-radius: $border-radius;
		padding: 2rem;

		.menu {
			display: flex;
			flex-direction: column;
			gap: 0.5rem;
			list-style: none;
			margin: 0;
			padding: 0;

			.menu-item {
				a {
					border-bottom: 1px solid $color-grey-light;
					color: $color-black;
					display: block;
					font-size: $font-size-large;
					padding-block: 0.5rem;
					width: 100%;
				}
			}
		}
	}
}
