$padding-inline: 1.25rem;
$spacing-block: 4rem;
$z-index-high: 99;

$color-primary: #758184;
$color-secondary: #615e76;
$color-tertiary: #ddb575;
$color-black: #555;
$color-white: #fff;
$color-grey-light: #f6f6f6;
$color-link: $color-secondary;

$container-max-width: 1180px;

$transition: 200ms cubic-bezier(0.4, 0, 0.2, 1);

$border-radius: 5px;
$border-radius-small: 2px;

$boxshadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
$boxshadow-md: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
