.header {
	background: $color-grey-light;
	position: relative;

	&.has-background {
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;

		&::before {
			background: linear-gradient(90deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 45%, rgba(0, 0, 0, 0) 100%);
			content: "";
			inset: 0;
			position: absolute;
		}

		.title {
			color: #fff;
		}
	}

	.content {
		position: relative;
	}

	.title {
		max-width: 620px;
	}

	#header-search {
		margin-top: 1rem;

		input {
			max-width: 500px;
			width: 100%;
		}
	}
}
