.row-card-news {
	border: 1px solid rgba($color-secondary, 0.2);
	border-radius: $border-radius;
	box-shadow: $boxshadow;
	display: flex;
	flex-direction: column;
	position: relative;
	transition: transform $transition, box-shadow $transition;

	@include medium {
		flex-direction: row;
	}

	&:hover {
		box-shadow: $boxshadow-md;
		transform: translateY(-2px);

		.content-wrapper {
			.content-header {
				.content-left {
					.title {
						text-decoration: underline;
					}
				}
			}
		}
	}

	.image-wrapper {
		aspect-ratio: 16 / 9;
		background-size: cover;
		background-position: center;
		border-radius: 5px 5px 0 0;
		min-width: 200px;

		@include medium {
			aspect-ratio: 1 / 1;
			border-radius: 5px 0 0 5px;
		}
	}

	.content-wrapper {
		padding: 1rem 1.5rem;
		width: 100%;

		.content-header {
			display: flex;
			gap: 2rem;
			justify-content: space-between;

			.content-left {
				.title {
					margin-block: 0 0.5rem;
				}

				.date {
					color: $color-primary;
					font-size: $font-size-body-small;
					margin-block: 0;
				}
			}

			.content-right {
				.category {
					background: $color-secondary;
					border-radius: $border-radius;
					color: $color-white;
					display: inline-block;
					font-size: $font-size-body-small;
					padding: 0.5rem 0.75rem;
				}
			}
		}

		.excerpt {
			margin: 1rem 0 0;
		}
	}
}
